
<%= form_with model: @result do |form| %>

  <div class="field">
    <%= form.label "How accurate were the algorithms in guessing your gender?" %> 
    <%= form.radio_button(:accurate, "Not accurate at all") %>
    <%= form.label "Not accurate at all" %>
    <%= form.radio_button(:accurate, "Somewhat accurate") %>
    <%= form.label "Somewhat accurate" %>
    <%= form.radio_button(:accurate, "Mostly accurate") %>
    <%= form.label "Mostly accurate" %>
    <%= form.radio_button(:accurate, "Completely accurate") %>
    <%= form.label "Completely accurate" %>
  </div>

    <%= form.hidden_field :returned_value, :value => @returned_value.to_json %>
    <%= form.hidden_field :query_id, :value => params[:query_id] %>
    <%= hidden_field_tag :query_id, params[:query_id] %>
  <div class="actions">
    <%= form.submit "Submit Feedback" %>
  </div>
<% end %>
