<%= form_for(@query, :url => "/submit") do |form| %>
  

  <div class="field">
    <%= form.label "Twitter handle:" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
  <%= form.label "Which term(s), if any, best describes your gender?" %><br />
  <div class = "flex-grid">
  <%= form.collection_check_boxes :gender_ids, Gender.all, :id, :name do |b| %>
    <div class="collection-check-box flex-grid">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
  </div>

  <div class="field">
  <%= form.label "Which term(s), if any, best describes your ethnicity?" %><br />
  <div class = "flex-grid">
  <%= form.collection_check_boxes :ethnicity_ids, Ethnicity.all, :id, :name do |b| %>
    <div class="collection-check-box flex-grid">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
  </div>

  <div class="field">
    <p id="consent">This information will be used purely for research purposes for a TechTogether Boston project on gender and racial bias in machine learning. No identifying information will be shared outside of the project group at any point in time.</p>
    <%= form.check_box :consent %>
  </div>



  
  <div class="actions">
    <%= form.submit "Misgender me"%>
  </div>
<% end %>