<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter handle:</strong>
  <%= @query.twitter_handle %>
</p>

<p>
  <strong>Real gender:</strong>
  <%= @query.real_gender %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @query.ethnicity %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
