<!DOCTYPE html>
  <html>
    <head>
      <title>Misgender Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner-image">
      <div class="banner-text">
        <h1>Misgender Me</h1>
        <p>The Gender You Never Asked For</p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
